
body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  margin: 0;
}
.container {
  background-color: rgba(0,0,0,0.7);
  padding: 30px;
  max-width: 700px;
  margin: 60px auto;
  border-radius: 15px;
}
img {
  width: 150px;
  margin: 10px;
}
.galeri img {
  width: 100px;
  border-radius: 8px;
}
